/* Ubuntu, Fredoka One, Carter One fonts*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Fredoka+One&family=Carter+One&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.light-theme {
    color: black;
    background-color: #ededed; /* white */
}
.dark-theme {

}

body {
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
}

.underline-left-to-right {
    display: inline-block;
    position: relative;
}
.underline-left-to-right:after {
    content: " ";
    background-color: #069c0e; /* green */
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .2s ease-in-out;
}
.underline-left-to-right:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    width: 100vw;
    z-index: 1;
    position: fixed; /* not "sticky", since "fixed" prevents bug of "Contact Us" scrolling */
    top: 0;
    backdrop-filter: none;
    box-shadow: #069c0e 0 1vh 3vh;
    transition: backdrop-filter .3s ease-in-out;
}
.header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Fredoka One", monospace;
    font-size: 1.5vw;
    transition: height .5s ease-in-out;
}
.header div {
    /*border: 1px solid red;*/
}
.header-top {
    height: .2vh;
}
footer {
    height: 20vh;
    /*border: 2px solid red;*/
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer a {
    transition: color .2s ease-in-out;
}
.footer a:hover {
    color: #005905; /* dark green */
}
.footer-element {
    /*border: 1px solid red;*/
}
.footer-title {
    font-family: "Fredoka One", monospace;
    font-size: 1.5vw;
}
.footer-content {
    font-family: Ubuntu, sans-serif;
    font-size: 1.3vw;
}
.footer-content img {
    width: 3vw;
    margin-right: .5vw;
}