/* Ubuntu, Fredoka One, Carter One fonts*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Fredoka+One&family=Carter+One&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.light-theme {
    color: black;
    background-color: #ededed; /* white */
}
.dark-theme {
    color: white;
    background-color: #141414; /* black */
}

body {
    margin: 0;
    padding: 0;
    transition: all .5s ease-in-out;
}
a {
    color: inherit;
    text-decoration: none;
}

.underline-left-to-right {
    display: inline-block;
    position: relative;
}
.underline-left-to-right:after {
    content: " ";
    background-color: #069c0e; /* green */
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .2s ease-in-out;
}
.underline-left-to-right:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    width: 100vw;
    z-index: 1;
    position: fixed; /* not "sticky", since "fixed" prevents bug of "Contact Us" scrolling */
    top: 0;
    backdrop-filter: none;
    box-shadow: #069c0e 0 1vh 3vh;
    transition: backdrop-filter .3s ease-in-out;
}
.header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Fredoka One", monospace;
    font-size: 1.5vw;
    transition: height .5s ease-in-out;
}
#theme-switcher {
    transition: transform .2s ease-in-out;
}
#theme-switcher:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}
.header-top {
    height: .2vh;
}
footer {
    height: 20vh;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer a:hover {
    transition: color .2s ease-in-out;
    color: #005905; /* dark green */
}

.footer-title {
    font-family: "Fredoka One", monospace;
    font-size: 1.5vw;
}
.footer-content {
    font-family: Ubuntu, sans-serif;
    font-size: 1.3vw;
}
.footer-content img {
    width: 3vw;
    margin-right: .5vw;
}

/* RESPONSIVENESS FOR TABLETS */
@media (max-width: 810px) {
    .header {font-size: 2.5vw}
    .footer-title {font-size: 2.5vw}
    .footer-content {font-size: 2vw}
    .footer-element {margin: 2vh 5vw}
    .footer-content img {width: 4.5vw}
}

/* RESPONSIVENESS FOR MOBILES */
@media (max-width: 428px) {
    .header {font-size: 5vw; align-items: flex-end; justify-content: space-evenly}
    .header div {margin-right: 1vw; margin-bottom: 1vh}
    .footer-title {font-size: 5vw}
    .footer-content {font-size: 4vw}
    .footer-content img {width: 10vw}
}

